
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sticky-column {
        border: 1px solid black;
        position: sticky;
        background-color: #FFF;
        z-index: 2;
    }

        .sticky-column:nth-child(1) {
            left: 0;
        }

        .sticky-column:nth-child(2) {
            left: 50px;
        }

        .sticky-column:nth-child(3) {
            left: 150px;
        }

    .sticky-column-right {
        border: 1px solid black;
        position: sticky;
        right: 0;
        background-color: #FFF;
        z-index: 2;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        min-width: 100px;
        background-color: white;
    }

    .container-scrollable {
        overflow-x: auto;
    }

    .popover {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        background-color: white;
        position: absolute;
        z-index: 1000;
    }

    .popoverattr {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        background-color: white;
        position: absolute;
        z-index: 1000;
    }

    #dropdownContent {
        display: none;
        position: absolute; /* Pozisyonu mutlak yapın */
        top: 100%; /* Input'un hemen altında başlasın */
        left: 0;
        width: 100%; /* Parent div ile aynı genişlik */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        max-height: 300px;
        overflow-y: auto;
        background-color: white; /* Arka planı belirginleştir */
        z-index: 1000; /* Üst üste gelme sırasını en üste çıkar */
    }

        /* Kategori ögeleri için stiller */
        #dropdownContent div {
            padding: 8px 10px;
            margin: 5px 0;
            background-color: #f9f9f9;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

            #dropdownContent div:hover {
                background-color: #e9e9e9;
            }

    #brandDropdownContent {
        display: none;
        position: absolute; /* Pozisyonu mutlak yapın */
        top: 100%; /* Input'un hemen altında başlasın */
        left: 0;
        width: 100%; /* Parent div ile aynı genişlik */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        max-height: 300px;
        overflow-y: auto;
        background-color: white; /* Arka planı belirginleştir */
        z-index: 1000; /* Üst üste gelme sırasını en üste çıkar */
    }

        /* Kategori ögeleri için stiller */
        #brandDropdownContent div {
            padding: 8px 10px;
            margin: 5px 0;
            background-color: #f9f9f9;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

            #brandDropdownContent div:hover {
                background-color: #e9e9e9;
            }

    #cargoDropdownContent {
        display: none;
        position: absolute; /* Pozisyonu mutlak yapın */
        top: 100%; /* Input'un hemen altında başlasın */
        left: 0;
        width: 100%; /* Parent div ile aynı genişlik */
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        max-height: 300px;
        overflow-y: auto;
        background-color: white; /* Arka planı belirginleştir */
        z-index: 1000; /* Üst üste gelme sırasını en üste çıkar */
    }

        /* Kategori ögeleri için stiller */
        #cargoDropdownContent div {
            padding: 8px 10px;
            margin: 5px 0;
            background-color: #f9f9f9;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

            #cargoDropdownContent div:hover {
                background-color: #e9e9e9;
            }


    .preview-img {
        width: 50px;
        height: 50px;
        margin: 10px;
        position: relative;
        display: inline-block;
    }

        .preview-img img {
            width: 100%;
            height: 100%;
        }

    .remove-img {
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;
        color: red;
        background-color: white;
        border-radius: 50%;
    }

    .my-collapse-features {
        height: 5px;
    }

        .my-collapse-features > p {
            margin-top: -10px !important; /* 1px yukarı taşı */
        }

    .required-attribute {
        background-color: #F1948A;
        color: white;
    }

    .required-attribute-body {
        background-color: #FADBD8;
    }
</style>
<script src="~/Scripts/Site/Trendyol/get-product.js"></script>
<script src="~/Scripts/Site/Trendyol/update-product.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3 m3 left-align">
                            <div class="row">
                                <div class="col s6">
                                    <select id="filter-select" onchange="getProductData()">
                                        <option value="" disabled>Filtreler</option>
                                        <option value="" selected>Tüm Ürünler</option>
                                        <option value="approved=true">Onaylı Ürünler</option>
                                        <option value="approved=false">Onaysız Ürünler</option>
                                        <option value="archived=true">Arşivlenmiş Ürünler</option>
                                        <option value="onSale=true">Satıştaki Ürünler</option>
                                        <option value="rejected=true">Reddedilen Ürünler</option>
                                        <option value="rejected=false">Reddedilmeyen Ürünler</option>
                                        <option value="blacklisted=true">Kara Listedeki Ürünler</option>
                                        <option value="blacklisted=false">Kara Listede Olmayan Ürünler</option>
                                    </select>
                                </div>
                                <div class="col s6">
                                    <select id="paginator-select" onchange="getProductData()">
                                        <option value="" disabled>Kayıt sayısı</option>
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m6 center-align"></div>
                        <div class="col s3 m3 right-align">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="ara">
                                <i class="material-icons prefix">search</i>
                            </div>
                        </div>
                    </div>

                    <div class="container-scrollable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th colspan="12" style="text-align: center;">Content</th>
                                    <th style="text-align: center;">Attribute</th>
                                    <th style="text-align: center;">Actions</th>
                                </tr>
                                <tr>
                                    <th class="sticky-column">Url</th>
                                    <th class="sticky-column">Title</th>
                                    <th>Description</th>
                                    <th>Barcode</th>
                                    <th>Brand</th>
                                    <th>CategoryName</th>
                                    <th>DimensionalWeight</th>
                                    <th>ListPrice</th>
                                    <th>Quantity</th>
                                    <th>SalePrice</th>
                                    <th>StockCode</th>
                                    <th>Version</th>
                                    <th>VatRate</th>
                                    <th>Attribute</th>
                                    <th class="sticky-column-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="listContainer"></tbody>
                        </table>

                    </div>

                    <div class="row" style="margin-top:30px">
                        <div class="col s4 m4 left-align">
                            <p id="listCount"></p>
                        </div>
                        <div class="col s4 m4 center-align">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            </ul>
                        </div>
                        <div class="col s4 m4 right-align">
                            <p id="totalDataCount"></p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-tag" class="modal modal-lg">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field" id="dropdown-container">
                                            <input type="text" id="searchInput" placeholder="Kategori seçiniz..." required>
                                            <div id="dropdownContent"></div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field" id="dropdown-container">
                                            <input type="text" id="searchBrandInput" placeholder="Marka Seçiniz..." required>
                                            <div id="brandDropdownContent"></div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="productMainId" placeholder="Ana Ürün Kodu" type="text" required>
                                        </div>
                                    </div>
                                    @*<div class="col s12">
                                        <div class="input-field">
                                            <input id="currencyType" placeholder="Para Birimi" type="text" required>
                                        </div>
                                    </div>*@
                                    <div class="col s12">
                                        <div class="input-field" id="dropdown-container">
                                            <input type="text" id="searchCargoInput" data-cargo-id="" placeholder="Kargo firması seçiniz..." required>
                                            <div id="cargoDropdownContent"></div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <select id="deliveryOption">
                                                <option value="SAME_DAY_SHIPPING" selected>Aynı Gün Kargo</option>
                                                <option value="FAST_DELIVERY">Hızlı Teslimat</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="col s10">
                                            <div class="input-field">
                                                <input id="barcode" placeholder="Barkod" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col s2">
                                            <button style="margin-bottom:0; padding-bottom: 0;" class="waves-effect waves-light btn btn-extra-small modal-trigger" onclick="generateRandomBarcode()"><i class="icn ti-pencil-alt" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="title" placeholder="Ürün Başlığı" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="quantity" placeholder="Miktar" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="stockCode" placeholder="Stok Kodu" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="dimensionalWeight" placeholder="Desi" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="listPrice" placeholder="Liste Fiyatı" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="salePrice" placeholder="Satış Fiyatı" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="input-field">
                                            <select id="vatRate" required>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <textarea id="description" placeholder="Ürün Açıklaması" class="materialize-textarea" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="file-field input-field">
                                    <div class="btn blue darken-1">
                                        <span>File</span>
                                        <input type="file" id="file-input" multiple required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                    </div>
                                </div>
                                <div class="preview-img-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h5>Ürün Özellikleri</h5>
                        <ul class="collapsible" id="collapsible-category-attributes"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" onclick="updateProducts()" class="btn modal-action modal-close waves-effect waves-light cyan">Save</a>
        <a href="#!" class="btn modal-action modal-close waves-effect waves-light grey darken-4">Cancel</a>
    </div>
</div>


