
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sticky-column {
        border: 1px solid black;
        position: sticky;
        background-color: #FFF;
        z-index: 2;
    }

        .sticky-column:nth-child(1) {
            left: 0;
        }

        .sticky-column:nth-child(2) {
            left: 50px;
        }

        .sticky-column:nth-child(3) {
            left: 150px;
        }

    .sticky-column-right {
        border: 1px solid black;
        position: sticky;
        right: 0;
        background-color: #FFF;
        z-index: 2;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        min-width: 100px;
        background-color: white;
    }

    .container-scrollable {
        overflow-x: auto;
    }

    .popover {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        background-color: white;
        position: absolute;
        z-index: 1000;
    }

    .popoverattr {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 300px;
        background-color: white;
        position: absolute;
        z-index: 1000;

    }

</style>
<script src="~/Scripts/Site/trendyol-product.js"></script>
<div class="container-fluid">
    <button onclick="addProduct()">Ürün Ekle</button>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s3 m3 left-align">
                            <div class="row">
                                <div class="col s6">
                                    <select id="paginator-select" onchange="getProductData()">
                                        <option value="" disabled>Kayıt sayısı</option>
                                        <option value="5" selected>5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m6 center-align"></div>
                        <div class="col s3 m3 right-align">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="ara">
                                <i class="material-icons prefix">search</i>
                            </div>
                        </div>
                    </div>

                    <div class="container-scrollable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th colspan="12" style="text-align: center;">Content</th>
                                    <th style="text-align: center;">Attribute</th>
                                    <th style="text-align: center;">Actions</th>
                                </tr>
                                <tr>
                                    <th class="sticky-column">Url</th>
                                    <th class="sticky-column">Title</th>
                                    <th>Description</th>
                                    <th>Barcode</th>
                                    <th>Brand</th>
                                    <th>CategoryName</th>
                                    <th>DimensionalWeight</th>
                                    <th>ListPrice</th>
                                    <th>Quantity</th>
                                    <th>SalePrice</th>
                                    <th>StockCode</th>
                                    <th>Version</th>
                                    <th>VatRate</th>
                                    <th>Attribute</th>
                                    <th class="sticky-column-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="listContainer"></tbody>
                        </table>

                    </div>

                    <div class="row" style="margin-top:30px">
                        <div class="col s4 m4 left-align">
                            <p id="listCount"></p>
                        </div>
                        <div class="col s4 m4 center-align">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            </ul>
                        </div>
                        <div class="col s4 m4 right-align">
                            <p id="totalDataCount"></p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

